.profile-pic {

}

.message-container {
    -fx-background-color: pink;
    -fx-background-radius: 15;
    -fx-padding: 5 8 5 8;
}

.text {

}

.image-container {
    -fx-padding: 0 5 0 5;
}

.text-cell {
    -fx-padding: 5 0 5 0;
}